* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Lobster", cursive;
  font-weight: bold;
  font-size: 50px;
}
h2 {
  font-family: "Shizuru", cursive;
  font-size: 25px;
  padding-left: 5px;
}

.btn {
  display: inline-block;
  height: 35px;
  width: 150px;
  background-image: linear-gradient(rgb(255, 4, 4), rgb(255, 255, 255));
  color: white;
  text-decoration: none;
  padding-top: 15px;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 100px;
  font-size: 20px;
}
.btn:hover {
  background-image: linear-gradient(rgb(39, 160, 230), #fff);
  color: black;
  transition: 1s;
}
.white {
  color: rgb(234, 241, 255);
}
.green {
  color: aqua;
}
.blue {
  color: rgb(42, 161, 216);
}
.black {
  color: rgb(171, 250, 246);
}
p {
  /* margin: 50px 0 0 0; */
  font-size: 20px;
  color: rgb(238, 213, 172);
  padding:90px 0;
  margin-top: 120px;
}
/* Welcome Css Starts */
.welcome {
  position: relative;
  padding-top: 70px;
  padding-bottom: 520px;
  width: 100%;
  height: 800px;
  /* border: 1px solid black; */
  display: flex;
  background-image: linear-gradient(rgb(120, 178, 253), rgb(41, 86, 129));
}
.intro {
  position: absolute;
  text-align: center;
  /* border: 1px solid black; */
  top: 90px;
  left: 900px;
  font-size: 30px;
}

.half-part {
  width: 40%;
  height: 80%;
  /* border: 1px solid black; */
  margin: 150px 100px;
  text-align: center;
}
.half-part img {
  width: 65%;
  height: 90%;
  border-radius: 10%;
  box-shadow: rgb(255 255 255 / 56%) 26px 33px 31px 46px;
  margin-top: 35px;
  opacity: 0.9;
  transition: 0.5s;
}
.half-part img:hover {
  transform: scale(1.1);
}
.content {
  margin-top: 60px;
  width: 100%;
  height: 100px;
  border-left: 3px solid rgb(42, 39, 39);
}
/* Welcome Css Ends */

/* Pillars Css Stats */
.iman-bg {
  background-color: #3aad9a;
}
.salat-bg {
  background-color: #8ddbce;
}
.siyam-bg {
  background-color: #6dbeb1;
}
.hajj-bg {
  background-color: #b2dfd8;
}
.jakat-bg {
  background-color: #c8e0dc;
}

.pillars {
  display: flex;
  position: relative;
  width: 100%;
  height: 800px;
  padding-top: 130px;
  padding-bottom: 100px;
  /* border: 1px solid black; */
  display: flex;
  background-image: linear-gradient(rgb(220, 222, 224), rgb(98, 169, 236));
}
.pillar-hed {
  position: absolute;
  left: 800px;
}

.pillar {
  width: 17%;
  height: 550px;
  /* border: 1px solid black; */
  border-radius: 20px;
  margin: 200px 0 0 50px;
  box-shadow: 24px 29px 35px 4px rgb(255 255 255 / 70%);
}
.pillar:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.pilar-img {
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 20px;
}
.pilar-img img {
  margin-top: 20px;
  width: 70%;
  height: 40%;
  border-radius: 50%;
}
.pilar-h2 {
  margin-top: -311px;
  margin-left: 78px;
}
.pillar p {
  font-size: 14px;
  color: rgb(66, 68, 70);
  padding: 0 30px;
  margin-top: 10px;
}

/* Pillars Css Ends */

/* Final Messenger Css Starts */
.messeng-bg {
  background-image: linear-gradient(rgb(226, 226, 238), rgb(145, 231, 195));
}
.messeng-p {
  color: rgb(52, 45, 45);
}

/* Final Messenger Css Ends */

/* Holy place Css Starts */
.half-part-holy {
  display: flex;

  width: 13%;
  height: 40%;
  /* border: 1px solid black; */
  margin: 300px 5px;
  text-align: center;
}

.half-part-holy img {
  width: 98%;
  height: 90%;
  border-radius: 7%;
  box-shadow: rgb(255 255 255 / 55%) 24px 11px 27px 18px;
  margin-top: 350px;
  margin-right: 50px;
  opacity: 0.9;
}

.half-part-holy img:hover {
  transform: scale(1.1) translate(10px, -10px);
  transition: 0.5s;
}

/* Holy place Css Ends */

/* Online course Css Starts */
.course-bg {
  background-image: linear-gradient(rgb(239, 240, 183), rgb(95, 139, 121));
}
.module {
  height: 70%;
  width: 60%;
  background-color: rgb(238, 223, 191);
  margin-top: 160px;
  border-radius: 20px;
  margin-left: 150px;
  padding-top: 50px;
}
.module h3 {
  margin-left: -80px;
}

.instractor {
  position: absolute;
  top: 966px;
  text-align: center;
  display: flex;
  width: 50%;
  height: 290px;
  /* border: 1px solid black; */
}
.img-con {
  display: flex;
  margin-top: 100px;
  margin-left: -247px;
  width: 50%;
  height: 60%;
  /* border: 1px solid black; */
}
.ins-img {
  width: 50%;
  padding-left: 80px;
}
.ins-img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: rgb(255 255 255 / 56%) -3px 2px 12px 24px;
}
.ins-img img:hover {
  transform: scale(1.1) translate(10px, 10px);
  transition: 1s;
}
.ins-img h3{
  margin:70px 0 70px -5px;
}

/* Online course Css Ends */

/* Online course Css Ends */
.footer-container {
  position: relative;
  width: 100%;
  height: 150px;
  background-color: rgb(0, 0, 0);
  text-align: center;
}

.footer-text {
  position: absolute;
  top: 30px;
  width: 100%;
}

.copyright {
  position: absolute;
  left: 700px;
  color: #fff;
}
.copyright a {
  color: #fff;
}
.copyright p {
  color: rgba(212, 209, 175, 0.376);

}

/* Online course Css Ends */
